// text
@mixin text-liner {
  background: $primary-liner;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin void-text-liner {
  background-clip: none;
  -webkit-text-fill-color: inherit;
}

// button
@mixin button-cursor {
  user-select: none;
  cursor: pointer;
}
@mixin button-transition {
  transition: box-shadow 0.18s ease;
}
@mixin button-active($negative-shadow-convex: 0 0 0 #00000000) {
  background: $primary-liner;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $primary-shadow-concave;
}
@mixin button-active-danger($negative-shadow-convex: 0 0 0 #00000000) {
  background: $danger;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $danger-shadow-concave;
}
@mixin button-unactive($negative-shadow-concave: inset 0 0 0 #00000000) {
  background: $base;
  box-shadow: $shadow-convex, $negative-shadow-concave;
}
@mixin button-hover {
  box-shadow: $shadow-convex-hover;
}

// layout
@mixin flexible() {
  display: inline-block;
}
@mixin fixed {
  display: block;
}
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}

// Media Queries
@mixin pc {
  @media only screen and (min-width: $pc-width) {
    @content;
  }
}
@mixin tablet-and-pc {
  @media only screen and (min-width: $sp-width) {
    @content;
  }
}
